<template>
    <div>
        <pre>{{ playlist }}</pre>
    </div>
</template>

<script>
import XschedulePlaylist from '~/models/XschedulePlaylist'

export default {
  data: () => ({
    playlist: {},
  }),
  async fetch() {
    this.playlist = await XschedulePlaylist.include('steps').$find(this.$route.params.id)
  },
}
</script>