<template>
    <div>
        <pre>{{ tag }}</pre>
    </div>
</template>

<script>
import Tag from '~/models/Tag'

export default {
  data: () => ({
    tag: {},
  }),
  async fetch() {
    this.tag = await Tag.$find(this.$route.params.id)
  },
}
</script>