<template>
  <div class="p-2 border-gray-200 border shadow-lg">
    <div class="h-full flex items-center p-4">
      <div class="w-16 h-16 bg-gray-200 flex items-center justify-center flex-shrink-0 rounded-full mr-4">
        <icon class="inline-block fill-current w-8 h-8 text-gray-700" tag />
      </div>

      <div class="flex-grow">
        <span class="text-gray-900 title-font font-medium">
          <template v-if="tag.name">{{ tag.name }}</template>
          <template v-else>&lt;{{ tag.tag_id }}&gt;</template>
        </span>
        <p class="text-xs text-gray-500">{{ tag.tag_id }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tag: {
      type: Object,
      required: true,
    },
  },
}
</script>
