<template>
  <modal title="New Action" v-bind="$attrs" v-on="$listeners">
    <form @submit.prevent="next">
      <div class="px-6 py-8">
        <label class="block">
          <span class="text-gray-700">Trigger</span>
          <select
            class="
              block
              mt-1
              border-gray-300
              shadow-sm
              focus:border-indigo-300
              focus:ring
              focus:ring-indigo-200
              focus:ring-opacity-50
            "
          >
            <option value="tag-scanned">Tag Scanned</option>
          </select>
        </label>
      </div>

      <div class="flex justify-between items-center px-6 py-4 border-t">
        <btn color="gray" outline @click="$emit('close')">Cancel</btn>
        <btn color="yellow" type="submit">Next</btn>
      </div>
    </form>
  </modal>
</template>

<script>
export default {
  methods: {
    next() {
      console.log('next!')
    },
  },
}
</script>
