<template>
  <div class="p-2 border-gray-200 border shadow-lg">
    <div class="h-full flex items-center p-4">
      <div class="w-16 h-16 bg-gray-200 flex items-center justify-center flex-shrink-0 rounded-full mr-4">
        <icon class="inline-block fill-current w-8 h-8 text-gray-700" playlist />
      </div>

      <div class="flex-grow">
        <span class="text-gray-900 title-font font-medium">
          {{ playlist.name }}
        </span>
        <div class="flex gap-2 text-xs">
            <div>
              <span class="text-gray-400">ID:</span> {{ playlist.id }}
            </div>
            <div v-if="playlist.steps">
              <span class="text-gray-400">Steps:</span> {{ playlist.steps.length }}
            </div>
            <div>
              <span class="text-gray-400">Runtime:</span> {{ playlist.runtimecode }}
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    playlist: {
      type: Object,
      required: true,
    },
  },
}
</script>
