<template>
  <component :is="as" class="bg-gray-100 rounded">
    <div class="flex p-4 h-full items-center">
      <icon
        v-if="icon"
        class="fill-current text-yellow-500 w-6 h-6 flex-shrink-0 mr-4"
        v-bind="{ [icon]: '' }"
      />

      <div class="title-font font-medium">
        <span v-if="label" class="text-gray-400">{{ label }}:</span>
        <slot>
            {{ value }}
        </slot>
      </div>
    </div>
  </component>
</template>

<script>
export default {
  props: {
    as: {
      type: String,
      default: 'div',
    },
    icon: {
      type: String,
      default: null,
    },
    label: {
        type: [String, Number],
        default: null,
    },
    value: {
        type: [String, Number],
        default: null,
    }
  },
}
</script>
