<template>
  <button
    :type="type"
    class="
      btn
      leading-relaxed
      font-medium
      cursor-pointer
      focus:outline-none focus:shadow-outline
      border
    "
    :class="{
      'border-transparent': (link || flat || disabled) && !outline,
      'shadow hover:shadow-lg': !link && !flat && !disabled,
      [`text-${color}-600 hover:text-${color}-700`]: color && link && !disabled,
      [`bg-${color}-600 text-${color}-100 hover:bg-${color}-700 hover:text-white`]: color && !link && !outline && !disabled,
      [`border-${color}-800 hover:border-${color}-700 `]: color && !link && !outline && !flat && !disabled,
      [`border-${color}-600 bg-white text-${color}-600 hover:bg-${color}-600 hover:border-${color}-600 hover:text-white`]: outline && !link && !disabled,
      
      [`h-8 text-sm`]: size === 'sm' && !link,
      [`h-10`]: size === 'md' && !link,
      [`h-12 text-lg`]: size === 'lg' && !link,
      [`${icon ? 'px-2' : 'px-4'}`]: size === 'sm' && !link,
      [`${icon ? 'px-3' : 'px-6'}`]: size === 'md' && !link,
      [`${icon ? 'px-4' : 'px-12'}`]: size === 'lg' && !link,

      [`rounded-${rounded}`]: rounded,
      'rounded-full': round,

      'cursor-not-allowed': disabled,
      'bg-gray-300 text-gray-400': disabled && !outline,
      'border border-gray-400 text-gray-400': disabled && outline,
    }"
    v-bind="$attrs"
    :disabled="disabled"
    v-on="$listeners"
  >
    <div class="flex items-center gap-2">
      <icon
        v-if="btnIcon"
        class="inline-block fill-current"
        v-bind="{ [btnIcon]: '' }"
        :class="{
          [`w-3 h-3`]: iconSized === 'sm',
          [`w-4 h-4`]: iconSized === 'md',
          [`w-5 h-5`]: iconSized === 'lg',

          'animate-spin': spinning
        }"
      />
      <slot></slot>
    </div>
  </button>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    color: {
      type: String,
      default: 'yellow',
    },
    size: {
      type: String,
      default: 'md', // sm, md, lg
    },
    iconSize: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: 'button',
    },
    rounded: {
      type: String,
      default: 'none',
    },
    disabled: Boolean,
    spinning: Boolean,
    flat: Boolean,
    link: Boolean,
    outline: Boolean,
    icon: {
      type: String,
      default: null,
    },
    round: Boolean,
  },
  computed:{
    btnIcon() {
      if(this.spinning) return 'spinner'
      return this.icon
    },
    iconSized() {
      return this.iconSize || this.size
    }
  }
}
</script>