<template>
  <component :is="as" class="text-gray-600 body-font px-5 py-10">
      <div class="flex flex-col text-center w-full">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
        >
          <slot name="label">{{ label }}</slot>
        </h1>
      </div>
      <div class="grid gap-4 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mt-6">
        <slot name="entities">
          <template v-for="entity of entities">
            <slot :entity="entity" name="entity" />
          </template>
        </slot>
      </div>
  </component>
</template>

<script>
export default {
  props: {
    as: {
      type: String,
      default: 'section',
    },
    entities: {
      type: Array,
      default: () => [],
    },
    label: {
      type: [String, Number],
      default: null,
    },
  },
}
</script>
