<template>
  <svg
    v-if="icon"
    v-bind="$attrs"
    xmlns="http://www.w3.org/2000/svg"
    :viewBox="icon.viewBox"
    v-on="$listeners"
  >
    <path v-for="(path, idx) in icon.paths" :key="idx" :d="path" />
  </svg>
</template>

<script>
import icons from '~/assets/icons'

export default {
  props: {
    notInline: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    let icon = null

    // Get icon from attr if found
    for (const i in this.$attrs) {
      if (Object.prototype.hasOwnProperty.call(icons, i)) {
        icon = icons[i]
        break
      }
    }
    return {
      icon,
    }
  },
}
</script>
