<template>
  <div ref="menu" class="relative inline-block text-left">
    <slot
      name="menu-button"
      :open="menuOpen"
      :close="menuClose"
      :toggle="menuToggle"
    >
      <btn color="yellow" @click="menuToggle"
        >Menu <icon class="fill-current w-6 h-6 flex-shrink-0 ml-2" arrow-down
      /></btn>
    </slot>

    <transition
      enter-active-class="transition ease-out duration-500"
      enter-class="transform opacity-0 scale-95"
      enter-to-class="transform opacity-100 scale-100"
      leave-active-class="transition ease-in duration-75"
      leave-class="transform opacity-100 scale-100"
      leave-to-class="transform opacity-0 scale-95"
    >
      <slot name="menu-dropdown">
        <div
          v-if="open"
          ref="dropdown"
          class="absolute mt-1 w-56 shadow-lg bg-white focus:outline-none"
          :class="[originClass, alignClass]"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
        >
          <slot>
            <btn
              v-for="(item, idx) of items"
              :key="idx"
              color="yellow"
              flat
              :icon="item.icon"
              size="lg"
              class="w-full"
              @click="itemClick(item)"
            >
              <span class="ml-2 text-sm tracking-wide truncate">
                {{ item.label }}
              </span>
            </btn>
          </slot>
        </div>
      </slot>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    origin: {
      type: String,
      default: 'top-right',
    },
    align: {
      type: String,
      default: 'right',
    },
    items: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    open: false,
  }),
  computed: {
    originClass() {
      return 'origin-' + this.origin
    },
    alignClass() {
      return this.align + '-0'
    },
  },
  mounted() {
    document.addEventListener('mousedown', this.clickEvent)
    document.addEventListener('keydown', this.keydownEvent)
  },
  beforeDestroy () {
    document.removeEventListener('mousedown', this.clickEvent)
    document.addEventListener('keydown', this.keydownEvent)
  },
  methods: {
    clickEvent(e) {
      if (!this.$refs.menu.contains(e.target)) {
        this.menuClose()
      }
    },

    keydownEvent(e) {
      if (this.open && e.keyCode === 27) {
        this.menuClose()
      }
    },

    menuOpen() {
      this.open = true
    },
    menuClose() {
      this.open = false
    },
    menuToggle() {
      this.open = !this.open
    },

    itemClick(item) {
      if(item.event) this.$emit(item.event, item)
      else this.$emit('item-click', item)
    }
  },
}
</script>
