<template>
  <transition name="fade-shrink-in" appear>
    <div
      v-show="open"
      class="fixed inset-0 z-50 grid place-items-center"
      style="background-color: hsla(0, 0%, 0%, 0.5)"
      @click="close"
    >
      <div
        class="w-full sm:max-w-2xl max-h-full overflow-auto bg-white z-10 shadow-lg"
        @click.stop
      >
        <slot name="header">
          <h1 class="bg-gray-100 font-normal text-xl px-6 py-4">
            {{ title }}
          </h1>
        </slot>

        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: null,
    },
  },
  data() {
    return {}
  },
  mounted() {
    document.addEventListener('keydown', this.keydownEvent)
  },
  beforeDestroy () {
    document.addEventListener('keydown', this.keydownEvent)
  },
  methods: {
    keydownEvent(e) {
      if (this.open && e.keyCode === 27) {
        this.close()
      }
    },
    close() {
      this.$emit('close')
    },
  },
}
</script>

<style scoped>
.fade-shrink-in-enter-active,
.fade-shrink-in-leave-active {
  transition: all 0.3s ease;
}

.fade-shrink-in-enter,
.fade-shrink-in-leave-to {
  opacity: 0;
  transform: scale(1.1);
}
</style>
