<template>
  <div class="container mx-auto max-w-screen-md">
    Setup a new action...

    <btn color="green" @click="openModal">New Action</btn>

    <portal to="modals">
      <new-modal :open="newActionModal" @close="close" />
    </portal>
  </div>
</template>

<script>
import newModal from '~/components/Actions/NewModal.vue'

export default {
  components: {
    newModal,
  },
  data() {
    return {
      newActionModal: false,
    }
  },
  methods: {
    openModal() {
      this.newActionModal = true
    },
    close() {
      this.newActionModal = false
    },
  },
}
</script>
