<template>
  <div>
    <entity-group :entities="devices" label="Controllers">
      <template #entity="{ entity }">
        <nuxt-link
          :to="`/devices/${entity.id}`"
          class="hover:bg-yellow-100"
        >
          <device-card :device="entity"  class="h-full" />
        </nuxt-link>
      </template>
    </entity-group>

    <entity-group :entities="tags" label="Tags">
      <template #entity="{ entity }">
        <nuxt-link
          :to="`/tags/${entity.id}`"
          class="hover:bg-yellow-100"
        >
            <tag-card :tag="entity" class="h-full" />
        </nuxt-link>
      </template>
    </entity-group>

    <entity-group :entities="xschedulePlaylists" label="xScheduler Playlists">
      <template #entity="{ entity }">
        <nuxt-link
          :to="`/xschedule/playlists/${entity.id}`"
          class="hover:bg-yellow-100"
        >
            <xschedule-playlist-card :playlist="entity"  class="h-full" />
        </nuxt-link>
      </template>
    </entity-group>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import entityGroup from '~/components/ui/EntityGroup.vue'
import DeviceCard from '~/components/Devices/DeviceCard.vue'
import TagCard from '~/components/Tags/TagCard.vue'
import XschedulePlaylistCard from '~/components/Xschedule/PlaylistCard.vue'

export default {
  components: {
    entityGroup,
    DeviceCard,
    TagCard,
    XschedulePlaylistCard,
  },

  computed: {
    ...mapGetters(['devices', 'tags', 'xschedulePlaylists']),
  },
}
</script>
