<template>
  <modal
    :title="`Backup Controller: ${device.name}`"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <form @submit.prevent="save">
      <div class="px-6 py-8">
        <label class="block">
          <span class="text-gray-700">Comment</span>
          <input
            v-model="comment"
            placeholder="Optional comment to describe the backup snapshot"
            type="text"
            class="
              block
              w-full
              mt-1
              border-gray-300
              shadow-sm
              focus:border-indigo-300
              focus:ring
              focus:ring-indigo-200
              focus:ring-opacity-50
            "
            autofocus
          />
        </label>
      </div>

      <div class="flex justify-between items-center px-6 py-4 border-t">
        <btn color="gray" outline flat @click="$emit('close')">Cancel</btn>
        <btn color="yellow" type="submit" flat>Backup</btn>
      </div>
    </form>
  </modal>
</template>

<script>
import Device from '~/models/Device'

export default {
  props: {
    device: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    comment: '',
  }),
  methods: {
    async save() {
      try {
        const snapshot = await new Device(this.device)
          .snapshots()
          .attach({ comment: this.comment })
        console.log('d', snapshot)
      } catch (e) {
        console.log('error', e)
      }
    },
  },
}
</script>
