<template>
  <div class="p-2 border-gray-200 border shadow-lg">
    <div class="h-full flex items-center p-4">
      <div class="w-16 h-16 bg-gray-200 flex items-center justify-center flex-shrink-0 rounded-full mr-4">
        <icon class="inline-block fill-current w-8 h-8 text-gray-700" controller />
      </div>

      <div class="flex-grow">
        <span
          
          class="text-gray-900 title-font font-medium"
        >
          {{ device.name }}
        </span>
        <p class="text-gray-500">{{ device.host }}</p>
      </div>
      <div class="flex flex-col justify-between h-full">
        <div class="text-right">
          <button type="button" @click.prevent="device.powerToggle()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="inline-block fill-current w-6 h-6"
              :class="
                device.meta && device.meta.on ? 'text-yellow-400' : 'text-black'
              "
              viewBox="0 0 512 512"
            >
              <path
                d="m320 73l0 68c18 8 35 19 49 34 30 30 47 70 47 113 0 43-17 83-47 113-30 30-70 47-113 47-43 0-83-17-113-47-30-30-47-70-47-113 0-43 17-83 47-113 14-15 31-26 49-34l0-68c-93 28-160 114-160 215 0 124 100 224 224 224 124 0 224-100 224-224 0-101-67-187-160-215z m-96-73l64 0 0 256-64 0z"
              ></path>
            </svg>
          </button>
        </div>

        <div class="flex items-center gap-1 text-xs uppercase">
          <template v-if="device.is_online">
            <div class="inline-block rounded-full bg-green-500 w-4 h-4"></div>
            Online
          </template>
          <template v-else>
            <div class="inline-block rounded-full bg-red-700 w-4 h-4"></div>
            Offline
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    device: {
      type: Object,
      required: true,
    },
  },
}
</script>
