<template>
  <modal title="New Controller" v-bind="$attrs" v-on="$listeners">
    <form @submit.prevent="next">
      <div class="px-6 py-8">
        <template v-if="step === 1">
          <label class="block">
            <span class="text-gray-700">IP Address</span>
          </label>
          <input v-model="ip" type="text" placeholder="Controller IP Address" />
        </template>
        <template v-else-if="step === 2">
          <label class="block">
            <span class="text-gray-700">Name</span>
          </label>
          <input v-model="name" type="text" placeholder="Controller Name" />

          <div
            class="mt-2 text-xs"
            :class="{
              'text-green-800': ping.status === 'success',
              'text-yellow-600': ping.status === 'warning',
              'text-red-800': ping.status === 'error',
            }"
          >
            {{ ping.msg }}
            <template v-if="ping.version"
              >, version: {{ ping.version }}</template
            >
          </div>

          <div class="my-6 text-sm">
            There may be issues with the selected controller. Some or all
            features may not work properly.
          </div>
        </template>
        <template v-else-if="step === 3">
          <div class="text-center italic my-12">Please wait...</div>
        </template>
      </div>
      <div class="flex justify-between items-center px-6 py-4 border-t">
        <btn color="gray" outline @click="$emit('close')">Cancel</btn>
        <btn
          color="yellow"
          type="submit"
          :disabled="stepping"
          :spinning="stepping"
          >Next</btn
        >
      </div>
    </form>
  </modal>
</template>

<script>
import { firstServerErrorMsg } from '~/utils'
import Device from '~/models/Device'

export default {
  data: () => ({
    step: 1,
    stepping: false,

    name: '',
    ip: '',
    ping: {
      msg: null,
      status: null,
      version: null,
    },
  }),
  methods: {
    async next() {
      this.stepping = true

      if (this.step === 1) {
        try {
          const ping = await new Device().ping(this.ip).get()
          this.ping.msg = 'Controller found'
          this.ping.status = 'success'
          this.ping.version = ping[0].info.vid
          if (ping[0].info.name) this.name = ping[0].info.name

          // Version check
          if (
            this.ping.version &&
            this.ping.version < this.$config.wledMinVersion
          ) {
            this.ping.msg = 'Unsupported controller found'
            this.ping.status = 'warning'
          }
        } catch (e) {
          this.ping.msg = 'Controller not found'
          this.ping.status = 'error'
        }
      }

      if (this.step === 2) {
        try {
          await new Device({
            name: this.name,
            host: this.ip,
          }).save()

          this.$emit('saved')
          this.step = 0
        } catch (e) {
          alert(firstServerErrorMsg(e));
          this.stepping = false
          return;
        }
      }

      this.stepping = false
      this.step++
    },
  },
}
</script>
