<template>
  <modal
    :title="`Restore Controller: ${device.name}`"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <form @submit.prevent="save">
      <div class="px-6 py-8">
        <p>
          Set the options below to restore the controller from a prior snapshot.
          First choose a source controller, then select a snapshot to apply to
          this controller.
        </p>

        <label class="block mt-6">
          <span class="">Source Controller</span>
          <select
            v-model="sourceDeviceId"
            class="
              block
              mt-1
              border-gray-300
              shadow-sm
              focus:border-indigo-300
              focus:ring
              focus:ring-indigo-200
              focus:ring-opacity-50
            "
          >
            <option v-for="d of devices" :key="d.id" :value="d.id">
              {{ d.name }}
            </option>
          </select>
        </label>

        <div class="mt-6 flex justify-between items-center">
          <div>Snapshot</div>

          <btn
            link
            icon="refresh"
            title="Reload snapshots..."
            @click="fetchCurrentDeviceSnapshots"
          />
        </div>
        <div class="h-36 bg-gray-100 p-4 overflow-auto">
          <div v-if="fetchingSnapshots" class="italic text-center">
            Loading available snapshots...
          </div>
          <template v-else>
            <label
              v-for="snapshot of snapshots"
              :key="snapshot.id"
              class="my-2 text-sm flex items-center gap-2 text-black"
            >
              <input v-model="snapshotId" type="radio" :value="snapshot.id" />
              <span class="text-gray-800">{{ snapshot.created_at }} - </span>
              <span v-if="snapshot.type === 'auto'" class="italic"
                >Automatic Snapshot</span
              ><span v-else class="">{{ snapshot.comment }}</span>
            </label>
          </template>
        </div>

        <p v-if="showFirmwareWarning" class="mt-6 text-red-800 text-xs">
          Warning: Snapshots from other controllers can be used, but settings
          and data may not be compatible with the current controller if a
          different firmware version exists on the source controller.
        </p>
      </div>

      <div class="flex justify-between items-center px-6 py-4 border-t">
        <btn color="gray" outline flat @click="close">Cancel</btn>
        <btn color="yellow" type="submit" flat>Restore</btn>
      </div>
    </form>
  </modal>
</template>

<script>
import { mapGetters } from 'vuex'

import Device from '~/models/Device'

export default {
  props: {
    device: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    sourceDeviceId: null,
    snapshotId: null,

    fetchingSnapshots: false,
    snapshots: [],
  }),
  computed: {
    ...mapGetters(['devices']),

    sourceDevice() {
      for (const i of this.devices) {
        if (i.id === this.sourceDeviceId) return i
      }
      return null
    },

    showFirmwareWarning() {
      return this.sourceDeviceId !== this.device.id
    },
  },
  watch: {
    sourceDeviceId: {
      handler() {
        this.fetchCurrentDeviceSnapshots()
      },
      immediate: true,
    },
  },
  created() {
    for (const i of this.devices) {
      if (i.id === this.device.id) this.sourceDeviceId = i.id
    }
  },
  methods: {
    close() {
      this.$emit('close');
    },

    fetchCurrentDeviceSnapshots() {
      this.fetchSnapshots(this.sourceDevice)
    },

    async fetchSnapshots(device) {
      this.fetchingSnapshots = true
      try {
        this.snapshots = await device.snapshots().orderBy('-created_at').$get()
      } catch (e) {}
      this.fetchingSnapshots = false
    },

    async save() {
      try {
        await new Device(this.device)
          .restores()
          .attach({ snapshot_id: this.snapshotId })
        this.close()
      } catch (e) {
        console.log('error', e)
      }
    },
  },
}
</script>
