<template>
  <div class="p-8">
    <portal to="modals">
      <backup-modal
        :open="backupModalOpen"
        :device="device"
        @close="backupModalOpen = false"
      />
      <restore-modal
        :open="restoreModalOpen"
        :device="device"
        @close="restoreModalOpen = false"
      />
    </portal>

    <header class="flex justify-between items-center">
      <h1 class="flex items-center gap-2 text-2xl">
        <button type="button" @click="device.powerToggle()">
          <icon
            class="fill-current w-6 h-6 flex-shrink-0"
            :class="
              device.meta && device.meta.on ? 'text-yellow-400' : 'text-black'
            "
            power
          />
        </button>
        {{ device.name }}
      </h1>

      <ui-menu
        :items="menuItems"
        origin="top-right"
        @powerToggle="device.powerToggle()"
        @backup="backup"
        @restore="restore"
        @remove="remove"
      >
        <template #menu-button="{ toggle }">
          <button
            type="button"
            class="border border-transparent hover:border-yellow-500 p-2"
            @click="toggle"
          >
            <icon
              class="fill-current text-yellow-500 w-6 h-6 flex-shrink-0"
              menu
            />
          </button>
        </template>
      </ui-menu>
    </header>

    <div class="my-2">
      <div class="flex flex-wrap sm:mb-2 -mx-2">
        <div class="p-2 w-full">
          <div
            class="
              flex flex-wrap
              gap-8
              bg-gray-100
              rounded
              flex
              p-4
              h-full
              items-center
            "
          >
            <div>
              <span class="text-gray-400">Host:</span>
              <a class="text-blue-800" :href="device.url" target="_blank">{{
                device.host
              }}</a>
            </div>
            <div v-if="device.meta">
              <span class="text-gray-400">Version:</span>
              {{ device.meta.version }}
            </div>
            <div v-if="device.meta">
              <span class="text-gray-400">LEDs:</span>
              {{ device.meta.num_leds }}
            </div>
            <div v-if="device.meta">
              <span class="text-gray-400">Sync Protocol:</span>
              {{ device.meta.sync_protocol_value }}
            </div>
            <div v-if="device.meta">
              <span class="text-gray-400">WiFi BSSID:</span>
              {{ device.meta.wifi_bssid }}
            </div>
            <div v-if="device.meta">
              <span class="text-gray-400">WiFi Signal:</span>
              {{ device.meta.wifi_signal }}
            </div>
            <div v-if="device.meta">
              <span class="text-gray-400">Brightness:</span>
              {{ device.meta.brightness }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <template v-if="device.segments.length">
      <div class="mt-8 text-2xl">Segments</div>
      <div class="my-4">
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 sm:mb-2 gap-2">
          <attribute-card
            v-for="segment of device.segments"
            :key="segment.id"
            icon="segments"
            :label="segment.idx"
            :value="`${segment.num_leds} LEDs`"
          />
        </div>
      </div>
    </template>

    <template v-for="presetType of presetTypes">
      <template v-if="device[presetType.idx] && device[presetType.idx].length">
        <div :key="`${presetType.idx}-label`" class="mt-8 text-2xl">
          {{ presetType.label }}
        </div>
        <div :key="`${presetType.idx}-items`" class="my-4">
          <div class="grid sm:grid-cols-2 lg:grid-cols-3 sm:mb-2 gap-2">
            <attribute-card
              v-for="preset of device[presetType.idx]"
              :key="`preset-${preset.idx}`"
              :icon="presetType.icon"
              :label="preset.idx"
              :value="`${preset.quick_label ? preset.quick_label + ' ' : ''}${
                preset.name
              }`"
              as="button"
              class="hover:bg-gray-300"
              @click.native="device.loadPreset(preset.idx)"
            />
          </div>
        </div>
      </template>
    </template>

    <div class="mt-8 text-2xl">Actions</div>
    <div class="my-4">
      <div class="flex flex-wrap sm:mb-2 -mx-2">
        <div class="p-2 sm:w-1/2 lg:w-1/3 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <icon
              class="fill-current text-yellow-500 w-6 h-6 flex-shrink-0 mr-4"
              wave
            />

            <div class="title-font font-medium">
              <span class="text-gray-500">Tag abcd-12345-qwer scan:</span>
              Toggle Power
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Device from '~/models/Device'
import uiMenu from '~/components/ui/Menu.vue'
import attributeCard from '~/components/ui/AttributeCard.vue'
import backupModal from '~/components/Devices/BackupModal.vue'
import restoreModal from '~/components/Devices/RestoreModal.vue'

export default {
  components: {
    uiMenu,
    attributeCard,
    backupModal,
    restoreModal,
  },
  data: () => ({
    backupModalOpen: false,
    restoreModalOpen: false,

    device: {},

    menuItems: [
      {
        label: 'Power Toggle',
        icon: 'power',
        event: 'powerToggle',
      },
      {
        label: 'Scan Now',
        icon: 'scan',
        event: 'scan',
      },
      {
        label: 'LED Map...',
        icon: 'led',
        event: 'ledMap',
      },
      {
        label: 'Backup...',
        icon: 'backup',
        event: 'backup',
      },
      {
        label: 'Restore...',
        icon: 'restore',
        event: 'restore',
      },
      {
        label: 'Remove Controller',
        icon: 'cross',
        event: 'remove',
      },
    ],

    presetTypes: [
      {
        idx: 'presetPresets',
        label: 'Presets',
        icon: 'star',
      },
      {
        idx: 'presetPlaylists',
        label: 'Playlists',
        icon: 'playlist',
      },
    ],
  }),
  async fetch() {
    this.device = await Device.include(
      'meta',
      'effects',
      'presets',
      'segments',
      'snapshots'
    ).$find(this.$route.params.id)
  },
  methods: {
    backup() {
      this.backupModalOpen = true
    },

    restore() {
      this.restoreModalOpen = true
    },

    async remove() {
      if (!confirm('Are you sure you want to remove this controller?')) return

      try {
        await new Device(this.device).delete()
        this.$store.dispatch('fetchDevices')
        this.$router.push('/devices')
      } catch (e) {}
    },
  },
}
</script>
