<template>
  <div>
    <portal to="modals">
      <new-modal :open="addDeviceModal" @close="close" @saved="deviceCreated" />
    </portal>

    <header class="text-right">
      <btn icon="plus" flat @click="openModal">Add Controller</btn>
    </header>
    <entity-group :entities="devices" label="Controllers">
      <template #entity="{ entity }">
        <nuxt-link :to="`/devices/${entity.id}`" class="hover:bg-yellow-100">
          <device-card :device="entity" class="h-full" />
        </nuxt-link>
      </template>
    </entity-group>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import entityGroup from '~/components/ui/EntityGroup.vue'
import deviceCard from '~/components/Devices/DeviceCard.vue'
import newModal from '~/components/Devices/NewModal.vue'

export default {
  components: {
    entityGroup,
    deviceCard,
    newModal,
  },
  data() {
    return {
      addDeviceModal: false,
    }
  },
  computed: {
    ...mapGetters(['devices']),
  },
  methods: {
    openModal() {
      this.addDeviceModal = true
    },
    close() {
      this.addDeviceModal = false
    },

    async deviceCreated() {
      this.close()
      await this.$store.dispatch('fetchDevices')
    }
  },
}
</script>
