<template>
  <nuxt-link
    :to="navable.to"
    :exact="navable.exact"
    class="
      relative
      flex flex-row
      items-center
      h-11
      focus:outline-none
      hover:bg-yellow-600
      dark:hover:bg-gray-600
      text-white-600
      hover:text-white-800
      border-l-4 border-transparent
      hover:border-yellow-500
      dark:hover:border-gray-800
      pr-6
    "
  >
    <span class="inline-flex justify-center items-center ml-4">
      <icon class="w-5 h-5 inline-block fill-current" v-bind="{ [navable.icon]: '' }" />
    </span>
    <span class="ml-2 text-sm tracking-wide truncate">
      {{ navable.label }}
    </span>
    <slot name="badge" />
  </nuxt-link>
</template>

<script>
export default {
  props: {
    navable: {
      type: Object,
      required: true,
    }
  }  
}
</script>