<template>
  <div>
    <div
      class="
        overflow-y-auto overflow-x-hidden
        flex flex-col
        justify-between
        flex-grow
      "
    >
      <ul class="flex flex-col py-4 space-y-1">
        <li class="px-5 hidden md:block">
          <div class="flex flex-row items-center h-8">
            <div
              class="text-sm font-light tracking-wide text-gray-400 uppercase"
            >
              Main
            </div>
          </div>
        </li>
        <li v-for="(nav, idx) of navables" :key="idx">
          <menu-item :navable="nav">
            <template v-if="nav.idx === 'controllers'" #badge>
              <span
                class="
                  hidden
                  md:block
                  px-2
                  py-0.5
                  ml-auto
                  text-xs
                  font-medium
                  tracking-wide
                  text-blue-500
                  bg-indigo-50
                  rounded-full
                "
                >New</span
              >
            </template>
            <template v-else-if="nav.idx == 'xschedule'" #badge>
              <span
                class="
                  hidden
                  md:block
                  px-2
                  py-0.5
                  ml-auto
                  text-xs
                  font-medium
                  tracking-wide
                  text-red-500
                  bg-red-50
                  rounded-full
                "
                >1.2k</span
              >
            </template>
          </menu-item>
        </li>
        
        <li class="px-5 hidden md:block">
          <div class="flex flex-row items-center mt-5 h-8">
            <div
              class="text-sm font-light tracking-wide text-gray-400 uppercase"
            >
              Quick Actions
            </div>
          </div>
        </li>
        <li>
          <a
            href="#"
            class="
              relative
              flex flex-row
              items-center
              h-11
              focus:outline-none
              hover:bg-yellow-600
              dark:hover:bg-gray-600
              text-white-600
              hover:text-white-800
              border-l-4 border-transparent
              hover:border-yellow-500
              dark:hover:border-gray-800
              pr-6
            "
          >
            <span class="inline-flex justify-center items-center ml-4">
              <svg
                class="w-5 h-5 inline-block fill-current"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m320 73l0 68c18 8 35 19 49 34 30 30 47 70 47 113 0 43-17 83-47 113-30 30-70 47-113 47-43 0-83-17-113-47-30-30-47-70-47-113 0-43 17-83 47-113 14-15 31-26 49-34l0-68c-93 28-160 114-160 215 0 124 100 224 224 224 124 0 224-100 224-224 0-101-67-187-160-215z m-96-73l64 0 0 256-64 0z"
                ></path>
              </svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Stop Show</span>
          </a>
        </li>
        <li class="px-5 hidden md:block">
          <div class="flex flex-row items-center mt-5 h-8">
            <div
              class="text-sm font-light tracking-wide text-gray-400 uppercase"
            >
              Settings
            </div>
          </div>
        </li>
        <li>
          <a
            href="#"
            class="
              relative
              flex flex-row
              items-center
              h-11
              focus:outline-none
              hover:bg-yellow-600
              dark:hover:bg-gray-600
              text-white-600
              hover:text-white-800
              border-l-4 border-transparent
              hover:border-yellow-500
              dark:hover:border-gray-800
              pr-6
            "
          >
            <span class="inline-flex justify-center items-center ml-4">
              <svg
                class="w-5 h-5 inline-block fill-current"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m288 353l0-26c35-20 64-69 64-119 0-80 0-144-96-144-96 0-96 64-96 144 0 50 29 99 64 119l0 26c-109 9-192 63-192 127l448 0c0-64-83-118-192-127z"
                ></path>
              </svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Profile</span>
          </a>
        </li>
        <li>
          <nuxt-link
            to="/settings"
            class="
              relative
              flex flex-row
              items-center
              h-11
              focus:outline-none
              hover:bg-yellow-600
              dark:hover:bg-gray-600
              text-white-600
              hover:text-white-800
              border-l-4 border-transparent
              hover:border-yellow-500
              dark:hover:border-gray-800
              pr-6
            "
          >
            <span class="inline-flex justify-center items-center ml-4">
              <svg
                class="w-5 h-5 inline-block fill-current"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m182 361l21-29-23-23-29 21c-5-3-11-5-17-7l-6-35-32 0-6 35c-6 2-12 4-17 7l-29-21-23 23 21 29c-3 5-5 11-7 17l-35 6 0 32 35 6c2 6 4 12 7 17l-21 29 23 23 29-21c5 3 11 5 17 7l6 35 32 0 6-35c6-2 12-4 17-7l29 21 23-23-21-29c3-5 5-11 7-17l35-6 0-32-35-6c-2-6-4-12-7-17z m-70 71c-18 0-32-14-32-32 0-18 14-32 32-32 18 0 32 14 32 32 0 18-14 32-32 32z m400-240l0-32-34-6c0-4-1-8-2-12l29-19-13-29-33 7c-2-3-4-7-7-10l20-28-23-23-28 20c-3-3-7-5-10-7l7-33-29-13-19 29c-4-1-8-2-12-2l-6-34-32 0-6 34c-4 0-8 1-12 2l-19-29-29 13 7 33c-3 2-7 4-10 7l-28-20-23 23 20 28c-3 3-5 7-7 10l-33-7-13 29 29 19c-1 4-2 8-2 12l-34 6 0 32 34 6c0 4 1 8 2 12l-29 19 13 29 33-7c2 3 4 7 7 10l-20 28 23 23 28-20c3 3 7 5 10 7l-7 33 29 13 19-29c4 1 8 2 12 2l6 34 32 0 6-34c4 0 8-1 12-2l19 29 29-13-7-33c3-2 7-4 10-7l28 20 23-23-20-28c3-3 5-7 7-10l33 7 13-29-29-19c1-4 2-8 2-12z m-176 54c-38 0-70-32-70-70 0-38 32-70 70-70 38 0 70 32 70 70 0 38-32 70-70 70z"
                ></path>
              </svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Settings</span>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import menuItem from '~/components/layout/sidebar/MenuItem.vue'

export default {
  components: {
    menuItem,
  },
  data: () => ({
    navables: [
      {
        idx: 'dashboard',
        label: 'Dashboard',
        to: '/',
        icon: 'home',
        exact: true,
      },
      {
        idx: 'controllers',
        label: 'Controllers',
        to: '/devices',
        icon: 'controller',
      },
      {
        idx: 'tags',
        label: 'Tags',
        to: '/tags',
        icon: 'tags',
      },
      {
        idx: 'xschedule',
        label: 'xSchedule',
        to: '/xschedule/playlists',
        icon: 'calendar',
      },
      {
        idx: 'actions',
        label: 'Actions',
        to: '/actions',
        icon: 'wave',
      },
    ],
  }),
}
</script>

<style scoped>
::v-deep .nuxt-link-active {
  @apply border-yellow-500 bg-gray-200;
}
</style>
