<template>
  <div
    class="
      min-h-screen
      flex flex-col flex-auto flex-shrink-0
      antialiased
      bg-white
      dark:bg-gray-700
      text-black
      dark:text-white
    "
  >
    <div
      class="
        fixed
        w-full
        flex
        items-center
        justify-between
        h-14
        bg-yellow-600
        dark:bg-gray-800
        text-white
        z-10
      "
    >
      <div
        class="
          flex
          items-center
          justify-start
          pl-2
          md:pl-3
          w-14
          md:w-64
          h-14
          border-none
        "
      >
        <icon
          class="
            fill-current
            w-10
            h-10
            text-white
            p-2
            bg-yellow-500
            rounded-full
            shadow-lg
          "
          led
        />
        <span class="hidden md:inline ml-3 text-xl">LED Companion</span>
      </div>
      <div
        class="flex-grow flex justify-end items-center h-14 header-right"
      >
        <ul class="flex items-center">
          <li>
            <a href="#" class="flex items-center mr-4 hover:text-blue-100">
              <span
                class="
                  px-2
                  py-0.5
                  ml-auto
                  text-xs
                  font-medium
                  tracking-wide
                  text-blue-500
                  bg-indigo-50
                  rounded-full
                "
                >2 New devices found</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>

    <sidebar
      class="
        fixed
        flex flex-col
        top-14
        bottom-0
        left-0
        w-16
        hover:w-64
        md:w-64
        bg-gray-100
        dark:bg-gray-900
        text-gray-900
        dark:text-white
        transition-all
        duration-300
        border-none
        z-10
        sidebar
        shadow-2xl
      "
    />

    <nuxt class="h-full ml-14 mt-14 mb-10 md:ml-64 px-4 py-6" />

    <portal-target name="modals"></portal-target>
  </div>
</template>

<script>
import sidebar from '~/components/layout/sidebar/Sidebar.vue'

export default {
  components: {
    sidebar,
  },
}
</script>
